# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints


# Models & Data
*.zip
*.pkl
dataset/*
!dataset/ready/
colab_workspace/dataset/
dataset_currency/

# Raw Currency Dumps (Too large for Git)
dataset/currencies/
dataset/raw/

# Logs & Artifacts
logs/
checkpoints/
tensorboard_logs_global/
best_model/
*.log
*.png
backtest_log.txt
vocab.txt
